.short-title {
    font-size: 20px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 24px;
}
.batch,
.batch-title {
    font-size: 13px;
    font-weight: 500;
    color: #101828;
}
.batch {
    background-color: #eaecf0;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #00000013;
}
.batch-breadcrumb {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 4px;
    margin-bottom: 12px;
}
.tag-1,
.breadcrumb-1 {
    color: #22c579;
}
.breadcrumb-2 {
    color: #d14e45;
}
.dot {
    width: 3px;
    height: 3px;
    background-color: currentColor;
    border-radius: 50%;
    cursor: default;
    transition: all var(--transition-1) ease;
    margin-right: 4px;
}
.course-card {
    background-color: #ffffff;
    padding: 16px;
    border: 1px solid #eaecf0;
    border-radius: 16px;
}
.admin-title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    color: #101828;
    margin-bottom: 20px;
}
.course-item {
    background-color: #f6fcf9;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    /* min-width: 325px; */
    width: 100%;
    cursor: pointer;
    margin: 0;
    max-width: unset;
    flex-basis: 48%;
}
.my-course-wrapper {
    display: block;
}
.my-course-item {
    display: flex;
    align-items: center;
    gap: 12px;
}
.course-img img {
    max-width: 180px;
    border-radius: 8px;
}
.my-course-img img {
    border-radius: 8px;
    aspect-ratio: 16/7;
    height: 100px;
}
.course-content {
    text-align: start;
}
.course-title {
    font-size: 16px;
    font-weight: 600;
}
.course-tag {
    font-size: 12px;
    background-color: #dfe2e0;
    padding: 4px 8px;
    border-radius: 4px;
}
.recommended-card .course-tag {
    color: #f51404;
}

.payment-table {
    border-radius: var(--radius-3);
    overflow: hidden;
}
.payment-row {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr 1fr;
}
.payment-header {
    background-color: var(--base-2);
    text-align: center;
    border-bottom: 3px solid var(--base-1);
}
.payment-body {
    background-color: var(--base-3);
}
.payment-item {
    padding: 12px 20px;
    width: 100%;
    border-right: 3px solid var(--base-1);
}
.payment-item:last-child {
    border-right: 0;
}
.payment-content {
    border-bottom: 3px solid var(--base-1);
}
.payment-content:last-child {
    border-bottom: 0;
}
.payment-for-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 24rem;
    max-height: 2.9rem;
}
.payment-amount-content {
    text-align: end;
}
.payment-by-content,
.payment-date-content {
    text-align: center;
}
.progress-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 8px;
    margin-top: 12px;
}
.progress-container {
    width: 100%;
    height: 8px;
    background-color: var(--base-3); /* light gray */
    border-radius: 4px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--primary-color); /* blue */
    border-radius: 4px;
    transition: width 0.3s ease;
}

.progress-text {
    font-size: 0.85rem;
    color: #555;
    text-align: start;
}
@media (max-width: 566px) {
    .course-item {
        flex-basis: 100%;
    }    
}
.account-profile {
    width: fit-content;
    margin: 20px auto 0;
}