header.header {
    margin-bottom: 0;
}
.blog-header {
    background-color: var(--blog-header);
    padding: 40px 0;
}
.blog-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.blog-header-img {
    line-height: 0;
}
.blog-header-img img {
    max-height: 320px;
    border-radius: var(--radius-4);
}
.breadcrumb {
    font-size: 12px;
    margin-bottom: 8px;
}
.blog-tag-container {
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
}
.blog-tag {
    background-color: var(--base-1);
    border-radius: var(--radius-2);
    padding: 4px 8px;
}
.blog-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}
.blog-date {
    font-size: 12px;
}
.blog-container {
    width: 70%;
    margin: 50px auto;
    font-size: 16px;
    line-height: 1.4rem;
}
