.details-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
}
.course-img img {
    border-radius: var(--radius-4);
}
.details-teacher .testimonial-author {
    width: 100%;
}
.details-teacher .testimonial-content {
    text-align: start;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.slide {
    padding: 24px;
}
.details-testimonial {
    max-width: 70%;
    text-align: center;
}
.testimonial-author {
    width: fit-content;
    margin: 0 auto;
}

.info-tab-container {
    /* background-color: var(--base-3);
    border-radius: var(--radius-3); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.info-tab {
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: center;
    background-color: var(--base-3);
}
.info-tab.active {
    font-weight: bold;
    background-color: var(--base-2);
    /* border-radius: var(--radius-2); */
    border-bottom: 2px solid var(--primary-color);
}
.info-tab-wrapper {
    background-color: var(--base-1);
    position: sticky;
    top: 92px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.course-contains-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.contains-item {
    text-align: center;
    padding: 12px 6px 4px;
    border-radius: var(--radius-4);
    box-shadow: 0px 0px 4px 0px var(--shadow1);
}
.contains-item img {
    max-width: 40px;
}
.contains-title {
    font-weight: bold;
}
.tools-contains-container {
    grid-template-columns: repeat(6, 1fr);
}
.tools-contains-container .contains-item {
    background-color: var(--base-3);
    padding: 20px 20px 8px;
}
.tools-contains-container .contains-title {
    font-weight: 400;
}

ul.course-learning-container {
    margin: 0 0 20px;
    padding: 0 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.info-wrapper section {
    padding: 0 2px;
}
#syllabus-container .accordion-wrapper {
    flex-wrap: nowrap;
}
#syllabus-container .accordion-header {
    background-color: var(--base-3);
    color: var(--text-color);
    font-weight: 400;
}
#syllabus-container .accordion-content {
    background-color: var(--base-3);
    color: var(--text-color);
}
#syllabus-container .accordion-item.active .accordion-content {
    border-top: 1px solid var(--primary-color);
    background-color: var(--base-1);
}
.course-week {
    text-align: center;
    padding: 8px;
    border-radius: var(--radius-2);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.week-1 {
    background-color: var(--primary-color);
    color: var(--text-reverse);
}
.week-2 {
    background-color: var(--secondary-color);
}
.week-3 {
     color: var(--text-reverse);
    background-color: var(--img-bg);
}
.in-roll-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--primary-color);
}

@media (max-width: 992px) {
    .right-panel {
        display: none;
    }
    .info-tab-wrapper {
        display: none;
    }
    #details-container {
        margin-top: 30px;
    }
    .course-contains-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .tools-contains-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #syllabus-container .accordion-wrapper {
        flex-direction: column;
    }
    #syllabus-container .accordion-wrapper.flex-container {
        gap: 0;
    }
    #syllabus-container .accordion {
        flex-basis: 100%;
        max-width: unset;
        width: 100%;
    }
    ul.course-learning-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.accordion {
    max-width: 100%;   
}

.syllabus-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.syllabus-icon {
    color: #9DA1A9;
}
.syllabus-item.active .syllabus-icon {
    color: var(--primary-color);
}
.syllabus-btn {
     color: #9DA1A9;
}
.syllabus-item.active .syllabus-btn {
    background-color: var(--primary-shadow);
    color: var(--dark-color);
    padding: 8px 12px;
    border-radius: 6px;
}