.details-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
}
.details-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}
.details-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
}
.course-img img {
    border-radius: var(--radius-4);
}
.details-teacher .testimonial-author {
    width: 100%;
}
.details-teacher .testimonial-content {
    text-align: start;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.slide {
    padding: 24px;
}
.details-testimonial {
    max-width: 70%;
    text-align: center;
}
.testimonial-author {
    width: fit-content;
    margin: 0 auto;
}

.info-tab-container {
    background-color: var(--base-3);
    border-radius: var(--radius-3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.info-tab {
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: center;
}
.info-tab.active {
    font-weight: bold;
    background-color: var(--base-1);
    border-radius: var(--radius-2);
}
.info-tab-wrapper {
    background-color: var(--base-1);
    position: sticky;
    top: 92px;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width: 480px) {
    .info-tab-wrapper {
        top: 72px;
        padding-top: 30px;
    }
}
