.d-flex {
    display: flex;
}
.item-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-20 {
   gap: 20px; 
}
.gap-8 {
   gap: 8px; 
}
.gap-4 {
   gap: 4px; 
}
.row-gap-74 {
   row-gap: 74px; 
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-12 {
  margin-bottom: 12px;
}