.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.item-center {
    align-items: center;
}
.item-end {
    align-items: end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-40 {
   gap: 40px; 
}
.gap-20 {
   gap: 20px; 
}
.gap-8 {
   gap: 8px; 
}
.gap-4 {
   gap: 4px; 
}
.row-gap-74 {
   row-gap: 74px; 
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-6 {
  margin-bottom: 6px;
}
.w-full {
  width: 100%;
}
.w-360 {
  max-width: 360px;
}
.lh-0 {
  line-height: 0;
}