.details-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
}
.details-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}
.details-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
}
.course-img img {
    border-radius: var(--radius-4);
}
.details-teacher .testimonial-author {
    width: 100%;
}
.details-teacher .testimonial-content {
    text-align: start;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid var(--primary-color);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.slide {
    padding: 24px;
}
.details-testimonial {
    max-width: 70%;
    text-align: center;
}
.testimonial-author {
    width: fit-content;
    margin: 0 auto;
}
