.details-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
}
.details-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}
.details-subtitle {
    font-size: 20px;
    margin-bottom: 24px;
}
.course-img img {
    border-radius: var(--radius-4);
}
.details-testimonial {
    max-width: 70%;
    text-align: center;
}
.testimonial-author {
    width: fit-content;
    margin: 0 auto;
}
