@media (max-width: 992px) {
    .testimonial-section {
        gap: 14px;
    }
    .testimonial-marquee.column-3,
    .testimonial-marquee.column-4 {
        display: none;
    }
    .testimonial-section {
        max-width: 640px;
    }
    .flex-container {
        gap: 20px;
    }
    .multi-container {
        gap: 0;
    }
    .category-wrapper {
        padding: 12px 16px;
        min-width: 20%;
        gap: 8px;
    }
    .second-widget {
        margin-left: 20px;
    }
}
@media (max-width: 768px) {
    .mb-12 {
        margin-bottom: 6px;
    }
    .gap-4 {
        gap: 2px;
    }
    .gap-8 {
        gap: 4px;
    }
    .hamburger {
        display: block;
    }
    .btn {
        padding: 4px 14px;
    }
    header.header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo {
        width: 120px;
    }
    .menu-course {
        padding: 4px;
        font-size: 12px;
    }
    /* .language-select-wrapper {
        width: 20px;
        height: 10px;
    }
    .language-select .selected {
        padding: 0;
    } */
    .search-input-wrapper {
        width: fit-content;
        position: fixed;
        transform: translateX(-50px);
    }
    .search-input-wrapper.active {
        position: fixed;
        z-index: 999;
        right: 10%;
        transform: translateX(0px);
    }
    .search-input-wrapper .search-input {
        width: 0;
    }
    .search-input-wrapper .search-icon {
        display: block;
    }
    .search-input-wrapper.active .search-icon {
        display: none;
    }
    .search-input-wrapper.active .search-input {
        width: 70vw;
    }
    .not-mobile,
    .selected .responsive,
    .options .responsive,
    .btn-outline.responsive,
    .btn.login {
        display: none;
    }
    .btn.login.responsive {
        display: block;
        font-size: 12px;
        padding: 8px 10px;
    }
    .mobile {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    header .container,
    .slide {
        flex-wrap: wrap;
    }
    .slide {
        gap: 24px;
        padding: 30px;
        justify-content: start;
    }
    .slider-title {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .slider-subtitle {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .slider-btn {
        margin-bottom: 10px;
    }
    .slider-description {
        font-size: 12px;
    }
    .multi-slider-wrapper {
        max-width: 565px;
    }
    #search-input {
        width: 50%;
    }

    .section-title {
        font-size: 30px;
    }
    img.slider-img {
        width: 100%;
    }
    .flex-container {
        gap: 20px;
    }
    .skill-item {
        padding: 20px 10px 10px;
    }
    .skill-title {
        font-size: 16px;
    }
    .skill-img {
        max-width: 80px;
        margin-bottom: 0px;
    }
    .skill-description {
        padding: 8px;
        font-size: 12px;
    }
    .counter-wrapper {
        padding: 16px 8px;
        min-width: 20%;
    }
    .counter-value {
        font-size: 24px;
    }
    .counter-label {
        font-size: 14px;
    }
    .category-wrapper {
        padding: 12px 16px;
        min-width: 20%;
    }
    .category-wrapper img {
        width: 24px;
    }
    .category-title {
        font-size: 16px;
    }
    .category-subtitle {
        font-size: 12px;
    }
    .category-content {
        font-size: 12px;
        gap: 0;
    }
    .category-wrapper:hover .category-content,
    .category-wrapper.active .category-content {
        padding: 10px;
    }
    .course-info {
        padding: 2px 4px 8px;
    }
    .course-name {
        font-size: 16px;
    }
    .course-sub-name {
        font-size: 12px;
    }
    .course-title {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .price {
        font-size: 16px;
    }
    .contact-form .d-flex {
        flex-wrap: wrap;
    }
    .contact-info,
    .contact-input-form {
        flex-basis: 90%;
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
    }
    .contact-info {
        gap: 8px;
        padding: 30px 0px;
    }
    .contact-title {
        font-size: 30px;
    }
    .contact-description {
        font-size: 13px;
    }
    .contact-details {
        font-size: 16px;
    }
    .contact-input-form {
        padding: 30px;
        margin-bottom: 30px;
    }
    .contact-form button {
        padding: 4px;
        margin-top: 12px;
    }
    .learn-to-win {
        padding: 30px 10px;
    }
    .learn-title {
        font-size: 36px;
        margin-bottom: 4px;
    }
    .learn-description {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .btn-win {
        padding: 4px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .partner-slider-wrapper {
        max-width: 100%;
    }
    .download .d-flex {
        gap: 0;
    }
    .download .btn-group {
        gap: 4px;
    }
    .download-content {
        padding: 30px 20px 30px;
    }
    .download-img img {
        width: 300px;
        height: 230px;
    }
    .download-title {
        font-size: 26px;
        margin-bottom: 6px;
    }
    .download-description {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .btn-store {
        max-width: 120px;
        padding: 0;
    }
    .accordion-header {
        padding: 4px 12px;
        font-size: 14px;
        font-weight: 600;
    }
    .accordion-item .accordion-content {
        font-size: 12px;
    }
    .accordion-item.active .accordion-content {
        padding: 8px 12px;
    }
    .footer-wrapper {
        padding: 30px 0px;
    }
    .footer-wrapper .flex-container,
    .footer-bottom .flex-container {
        justify-content: space-around;
    }
    .footer-logo .logo {
        width: 90px;
    }
    .footer-description {
        margin-bottom: 14px;
        font-size: 12px;
    }
    .footer-socials {
        gap: 12px;
    }
    .footer-socials svg {
        width: 16px;
        height: 16px;
    }
    .footer-socials a {
        padding: 4px;
    }
    .footer-title {
        font-size: 16px;
    }
    .footer-links-wrapper .footer-title {
        margin-bottom: 15px;
    }
    .communication-details {
        gap: 4px;
        font-size: 12px;
    }
    .footer-links {
        gap: 4px;
        min-width: 20%;
    }
    .footer-wrapper a {
        font-size: 12px;
    }
    .first-widget {
        max-width: 220px;
    }
    .second-widget {
        max-width: 260px;
    }
    .footer-bottom {
        padding: 15px 0;
        font-size: 12px;
    }
    .footer-bottom .flex-container {
        justify-content: space-between;
        gap: 10px;
    }
    .testimonial-section {
        max-width: 340px;
    }
    .testimonial-marquee.column-2 {
        display: none;
    }
}
@media (max-width: 620px) {
    .download .d-flex {
        flex-direction: column;
    }
    .footer-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
    .second-widget {
        margin-left: 0px;
    }
}
@media (max-width: 480px) {
    .btn-group {
        gap: 8px;
    }
    .btn {
        padding: 4px 6px;
        font-size: 14px;
    }
    .logo {
        width: 108px;
    }
    .drawer-title {
        font-size: 18px;
    }
    .login-process-wrapper {
        padding: 12px;
    }
    .account-title {
        font-size: 20px;
    }
    .tab-btn {
        padding: 6px 24px;
        font-size: 12px;
    }
    .login-form input {
        font-size: 14px;
        height: 30px;
    }
    .login-form .btn {
        margin-top: 8px;
        padding: 8px;
    }
    .login-form .btn.outside {
        margin-top: 3px;
        padding: 2px;
        font-size: 12px;
    }
    .help-btn {
        flex-wrap: wrap;
    }
    .communication-need {
        font-size: 12px;
    }
    .skill-img {
        max-width: 74px;
    }
    .skill-title {
        font-size: 14px;
    }
    .slider-btn {
        font-size: 12px;
    }
    .slider-btn svg {
        width: 16px;
        height: 16px;
    }
    .slider-description {
        margin-bottom: 10px;
    }
    .section-title {
        font-size: 24px;
    }
    .counter-value {
        font-size: 14px;
    }
    .counter-label {
        font-size: 12px;
    }
    .category-wrapper {
        padding: 4px 10px;
    }
    .category-wrapper img {
        width: 20px;
    }
    .category-title {
        font-size: 14px;
        margin-bottom: 0;
    }
    .section-title-wrapper {
        gap: 4px;
        margin-bottom: 16px;
        flex-direction: column;
        align-items: center;
    }
    .multi-slider-wrapper {
        max-width: 270px;
    }
    .contact-form .d-flex {
        gap: 10px;
    }
    .contact-info {
        padding: 30px 0px 10px;
    }
    .contact-input-form {
        padding: 15px;
    }
    .partner-slider-wrapper {
        max-width: 100%;
    }
    .btn-store {
        max-width: 100px;
        padding: 0;
    }
    .download-title {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .download-description {
        font-size: 14px;
    }
    .download-img {
        margin-bottom: 30px;
    }
    .download-img img {
        height: 190px;
    }
    .accordion-item {
        margin-bottom: 14px;
    }
    .accordion {
        flex-basis: 100%;
    }
    .accordion-wrapper {
        gap: 0;
    }
    .footer-wrapper .flex-container,
    .footer-bottom .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .mb-50 {
        margin-bottom: 30px;
    }
}
