@media (max-width: 768px) {
    .mb-12 {
        margin-bottom: 6px;
    }
    .gap-4 {
        gap: 2px;
    }
    .gap-8 {
        gap: 4px;
    }
    .hamburger {
        display: block;
    }
    .btn {
        padding: 4px 14px;
    }
    header.header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo {
        width: 120px;
    }
    .menu-course {
        padding: 4px;
        font-size: 12px;
    }
    /* .language-select-wrapper {
        width: 20px;
        height: 10px;
    }
    .language-select .selected {
        padding: 0;
    } */
    .search-input-wrapper {
        width: fit-content;
        position: fixed;
        transform: translateX(-50px);
    }
    .search-input-wrapper.active {
        position: fixed;
        z-index: 999;
        right: 10%;
        transform: translateX(0px);
    }
    .search-input-wrapper .search-input {
        width: 0;
    }
    .search-input-wrapper .search-icon {
        display: block;
    }
    .search-input-wrapper.active .search-icon {
        display: none;
    }
    .search-input-wrapper.active .search-input {
        width: 70vw;
    }
    .not-mobile,
    .selected .responsive,
    .options .responsive,
    .btn-outline.responsive,
    .btn.login {
        display: none;
    }
    .btn.login.responsive {
        display: block;
    }
    .mobile {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    header .container,
    .slide {
        flex-wrap: wrap;
    }
    .multi-slider-wrapper {
        max-width: 565px;
    }
    #search-input {
        width: 50%;
    }

    .section-title {
        font-size: 30px;
    }
    img.slider-img {
        width: 100%;
    }
    .flex-container {
        gap: 20px;
    }
    .skill-title {
        font-size: 16px;
    }
    .skill-img {
        max-width: 80px;
    }
    .counter-wrapper {
        padding: 16px 8px;
        min-width: 20%;
    }
    .counter-value {
        font-size: 24px;
    }
    .counter-label {
        font-size: 14px;
    }
    .category-wrapper {
        padding: 0 16px;
        min-width: 20%;
    }
    .category-wrapper img {
        width: 36px;
    }
    .category-header {
        padding: 12px;
    }
    .category-title {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .category-subtitle {
        font-size: 12px;
    }
    .course-info {
        padding: 2px 4px 8px;
    }
    .course-name {
        font-size: 16px;
    }
    .course-sub-name {
        font-size: 12px;
    }
    .course-title {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .price {
        font-size: 16px;
    }
    .contact-form .d-flex {
        flex-wrap: wrap;
    }
    .contact-info, .contact-input-form {
        flex-basis: 90%;
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
    }
}

@media (max-width: 440px) {
    .btn-group {
        gap: 8px;
    }
    .btn {
        padding: 4px 6px;
        font-size: 14px;
    }
    .logo {
        width: 108px;
    }
}
