@media (max-width: 690px) {

    header,
    .slide {
        flex-wrap: wrap;
    }

    #search-input {
        width: 50%;
    }

    img.slider-img {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .logo {
        width: 120px;
    }
}