:root {
    --text-color: #070707;
    --primary-color: #009245;
    --secondary-color: #0feb75;
    --tertiary-color: #010e07;
    --soft-color: #959c99;
    --light-soft-color: #d0d4d2;
    --medium-color: #bcc4be;
    --light-color: #d0d2d0;
    --warning-color: #ff0000;
    --img-bg: #9c069c;
    --base-1: #fefffe;
    --base-2: #e7fdf2;
    --base-3: #dde3e0;
    --text-reverse: #ffffff;
    --shadow1: rgba(0, 0, 0, 0.2);
    --shadow2: rgba(0, 0, 0, 0.5);
    --shadow3: rgba(0, 0, 0, 0.7);

    --radius-1: 2px;
    --radius-2: 4px;
    --radius-3: 8px;
    --radius-4: 12px;
    --radius-5: 16px;
    --radius-6: 20px;

    --transition-1: 0.3s;
    --transition-2: 0.5s;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Hind Siliguri", sans-serif;
    line-height: 1em;
}

body,
html {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.icon {
    line-height: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.container-2 {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* Button */
.btn-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn,
a.btn {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-reverse);
    border-radius: var(--radius-2);
    padding: 4px 20px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
}

.btn:hover {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-outline {
    background-color: transparent;
    color: var(--text-color);
}

.btn-outline:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-reverse);
}
.login {
    white-space: nowrap;
    padding: 7px 20px;
}
.btn-close {
    background-color: var(--base-2);
    border-radius: var(--radius-2);
    cursor: pointer;
}
.btn-close:hover {
    color: var(--warning-color);
}

/* Header */
.logo {
    width: 180px;
    max-width: 180px;
}

header.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--base-1);
    position: sticky;
    top: 0;
    z-index: 99999;
    margin-bottom: 40px;
    box-shadow: 0px -1px 5px 2px var(--shadow1);
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.menu {
    position: relative;
    font-size: 16px;
}

.menu .btn .angle > svg {
    transition: all var(--transition-1);
}

.menu:hover .btn .angle > svg {
    transform: rotate(180deg);
}

.sub-menu,
.menu-options {
    position: absolute;
    z-index: 999;
    top: 100%;
    opacity: 0;
    display: none;
    background-color: var(--base-1);
    box-shadow: 0 4px 10px var(--shadow2);
    border-radius: var(--radius-2);
    width: max-content;
}

.menu-options .option,
.menu-options a.option {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all var(--transition-1);
    position: relative;
    text-decoration: none;
    color: var(--text-color);
}

.sub-menu {
    top: 0;
    left: 100%;
}

.sub-menu .sub-option {
    color: var(--text-color);
    padding: 6px 10px;
}

.sub-menu .sub-option:hover,
.menu-options .option:hover {
    background-color: var(--primary-color);
    color: var(--text-reverse);
}

.menu-options .option:hover .sub-menu,
.menu:hover .menu-options {
    opacity: 1;
    display: block;
}

/* search */
.search-input-wrapper {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
    padding: 4px 8px;
    border-radius: var(--radius-3);
    border: 1px solid var(--primary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--base-1);
}
.search-input-wrapper .search-input,
.search-input-wrapper .search-input:focus {
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: none;
    width: 100%;
    height: 20px;
    padding: 0;
    transition: all var(--transition-1);
}
.search-result-wrapper {
    display: none;
    top: calc(100% - 5px);
    left: -0.8px;
    right: -0.8px;
    background: var(--base-1);
    padding: 4px 8px;
    position: absolute;
    z-index: 99999;
    box-shadow: 0 3px 4px 0px var(--shadow1);
    border-radius: 0 0 var(--radius-3) var(--radius-3);
    border: 1px solid var(--primary-color);
    border-top: none;
    box-sizing: content-box;
}
.search-result {
    border-top: 1px solid var(--primary-color);
    padding-top: 10px;
    overflow: auto;
    max-height: 30vh;
}
.search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: var(--radius-2);
    cursor: pointer;
}
.search-item .icon {
    color: var(--medium-color);
}
.search-item:hover {
    background-color: var(--base-2);
}
.search-input-wrapper .search-icon {
    display: none;
}

/* Nav Drawer */
.hamburger {
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 999;
}
.nav-items-wrapper {
    font-size: 14px;
}
.nav-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}
.nav-item,
a.nav-item {
    padding-left: 10px;
    margin-bottom: 12px;
    text-decoration: none;
    display: block;
    color: var(--text-color);
}
.overlay-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-wrapper.active {
    pointer-events: auto;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow3);
    opacity: 0;
    transition: all var(--transition-1);
}
.overlay-wrapper.active .overlay {
    opacity: 1;
}
.overlay-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 350px;
    height: 100%;
    background-color: var(--base-1);
    box-shadow: 0 4px 10px var(--shadow2);
    padding: 20px;
    border-radius: var(--radius-4) 0 0 var(--radius-4);
    transform: translateX(100%);
    transition: all var(--transition-1);
}
#login-wrapper .overlay-container {
    max-width: 450px;
    height: fit-content;
    background-color: var(--base-1);
    right: unset;
    top: unset;
    bottom: unset;
    transform: translate(0);
    display: none;
    border-radius: var(--radius-4);
}
#login-wrapper .drawer-header {
   margin-bottom: 20px;
}
#login-wrapper .drawer-body {
   height: fit-content;
}
#login-wrapper.active .overlay-container {
    display: block;
}
.overlay-wrapper.active .overlay-container {
    transform: translateX(0%);
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 8px;
}
.drawer-title {
    font-size: 26px;
    font-weight: 700;
    display: none;
}
.drawer-title.active {
    display: block;
}
.drawer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.drawer-content {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.drawer-content.active {
    display: flex;
}
.login-process-wrapper {
    box-shadow: 0px 0px 2px 0px var(--shadow2);
    padding: 20px;
    border-radius: var(--radius-4);
    min-width: 80%;
    text-align: center;
}
.account-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
    display: none;
}
.account-title.active {
    display: block;
}
.communication-need {
    margin-top: 12px;
    font-size: 14px;
    color: var(--soft-color);
}

/* Tab Selection */
.tab-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-3);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: var(--radius-2);
}
.tab-btn {
    padding: 8px 30px;
    border-radius: var(--radius-2);
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
    transition: all var(--transition-1);
}
.tab-btn.active {
    background-color: var(--base-1);
}
.tab-content {
    width: 100%;
    display: none;
    text-align: start;
}
.tab-content.active {
    display: block;
}

/* Login Form */
.login-form {
    max-width: 300px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}
.login-form label {
    font-size: 14px;
    font-weight: 500;
    text-align: start;
}
.login-form input {
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-2);
    padding: 0 12px;
}
.login-form input:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid var(--secondary-color);
}
.login-form .btn {
    width: 100%;
    margin-top: 12px;
    padding: 12px;
    font-size: 14px;
}
.login-form .btn.outside {
    margin-top: 6px;
    padding: 4px;
    background-color: var(--base-2);
    border-color: var(--base-2);
    color: var(--text-color);
}
.login-form .btn.outside:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-reverse);
}
.help-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
    font-size: 14px;
    color: var(--soft-color);
}
.help-btn .icon {
    color: var(--light-soft-color);
}
.help-btn a {
    font-size: 14px;
    color: var(--soft-color);
}
.help-btn a:hover,
.help-btn a:focus {
    color: var(--primary-color);
}

/* OTP */
.resend-container {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 12px;
}
.resend-timer {
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}
.resend-btn {
    background-color: var(--base-3);
    border-color: var(--base-3);
    color: var(--text-color);
    margin: 8px auto;
}
.resend-btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.number-check-container {
    background-color: var(--base-2);
    padding: 8px;
    border-radius: var(--radius-2);
    font-size: 12px;
}
.number-check-title {
    margin-bottom: 12px;
}
.number-submitted {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.number-check {
    color: var(--primary-color);
}

/* Profile */
.profile-form {
    max-width: 350px;
    max-height: 85vh;
    overflow: auto;
    margin-top: 10px;
}
.profile-form input,
.profile-form .custom-select-wrapper {
    margin-bottom: 8px;
}
.image-upload-content {
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
}
.upload-area {
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.upload-area .icon {
    position: absolute;
    bottom: 4px;
    right: 10px;
    background-color: var(--base-2);
    border-radius: 50%;
    padding: 6px;
}
.preview-area img {
    max-width: 100%;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 1px solid var(--base-3);
}

/* slider style */
.multi-slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.multi-slider-wrapper button.controls.next {
    right: 15px;
}
.multi-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 8px 0px;
    gap: 0;
}
.multi-item {
    flex: 0 0 auto;
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
}
.slider-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-4);
    box-shadow: 0 4px 10px var(--shadow2);
    display: flex;
    align-items: center;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}
button.controls {
    position: absolute;
    z-index: 999;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    left: 0;
    background-color: var(--shadow2);
    color: var(--text-reverse);
    border: 0;
    padding: 6px;
    cursor: pointer;
}
button.controls.next {
    right: 0;
    left: auto;
}
button.controls:hover {
    background-color: var(--shadow3);
}
.slide {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}
.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    z-index: 1;
    bottom: -20px;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: var(--base-3);
    border-radius: 50%;
    cursor: pointer;
    transition: all var(--transition-1) ease;
}
.dot.active {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
}
.slider-img {
    width: 40vw;
    max-width: 700px;
}
.slide-partner img {
    max-width: 60px;
}
.slider-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}
.slider-subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
}
.slider-btn {
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 600;
    margin-bottom: 36px;
}
.slider-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

/* Select Dropdown */
.custom-select-wrapper {
    position: relative;
}
.custom-select-wrapper.mobile-nav {
    position: relative;
    width: 100%;
}
.custom-select {
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-2);
    cursor: pointer;
    background: var(--base-1);
    position: relative;
}
.mobile-nav .custom-select {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    position: relative;
}
.selected {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-nav .selected {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected .angle {
    transition: all var(--transition-1);
}
.selected.active .angle {
    transform: rotate(180deg);
}
.custom-select .options {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: -0.8px;
    right: -0.8px;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-2);
    background: var(--base-1);
    z-index: 100;
    overflow: hidden;
}
.mobile-nav .custom-select .options {
    display: block !important;
    max-height: 0;
    position: relative;
    border: 0;
    background-color: transparent;
    margin-left: 16px;
    transition: all var(--transition-1);
    overflow: hidden;
}
.mobile-nav .custom-select .options.active {
    max-height: 500px; /* Adjust based on content height */
}

.custom-select .option {
    padding: 10px;
    cursor: pointer;
}

.custom-select .option:hover {
    background: var(--base-2);
}

/* Language Selection */
.language-select-wrapper {
    width: 80px;
    position: relative;
    font-size: 12px;
}

.language-select {
    border-radius: var(--radius-2);
    cursor: pointer;
    position: relative;
}

.language-select .selected {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-select .options {
    display: none;
    position: absolute;
    top: 100%;
    width: 100px;
    left: 0;
    border: 1px solid #ccc;
    background: #fff;
    z-index: 100;
}

.language-select .option {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language-select .option:hover {
    background: #f2f2f2;
}

.language-select img {
    width: 20px;
    height: auto;
    border-radius: var(--radius-1);
}

.section-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 24px;
}
.section-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.skill-item {
    text-align: center;
    position: relative;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-4);
    padding: 20px 14px;
    overflow: hidden;
    cursor: pointer;
}

.skill-img {
    max-width: 100px;
    margin: 0 auto;
    margin-bottom: 12px;
    aspect-ratio: 16/8;
    object-fit: cover;
}

.skill-title {
    font-size: 20px;
    font-weight: 600;
}

.skill-description {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--text-reverse);
    transform: translateY(100%);
    opacity: 0;
    transition: all var(--transition-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    line-height: 1rem;
}

.skill-item:hover .skill-description {
    transform: translateY(0);
    opacity: 1;
}

/* Counter Number */
.counter-wrapper {
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-4);
    padding: 20px 14px;
    min-width: 22%;
}

.counter-value {
    font-size: 30px;
    font-weight: 700;
}

.counter-label {
    font-size: 20px;
}

/* Category */
.category-wrapper {
    border: 1px solid var(--primary-color);
    position: relative;
    padding: 16px 20px;
    border-radius: var(--radius-3);
    min-width: 22%;
    gap: 20px;
}
.category-wrapper img {
    width: 30px;
    filter: grayscale(1);
}
.category-header {
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 1rem;
}
.category-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

.category-subtitle {
    font-size: 16px;
}

.category-content {
    font-size: 16px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all var(--transition-1) ease;
    padding: 0 16px;
    position: absolute;
    z-index: 99;
    top: calc(100% - 1px);
    left: -1px;
    right: -1px;
    background-color: var(--secondary-color);
    color: var(--text-reverse);
    border-radius: 0 0 var(--radius-3) var(--radius-3);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.category-wrapper:hover {
    background-color: var(--primary-color);
    color: var(--text-reverse);
    border-radius: var(--radius-3) var(--radius-3) 0 0;
}
.category-wrapper:hover .category-content,
.category-wrapper.active .category-content {
    max-height: 200px;
    opacity: 1;
    min-height: fit-content;
    padding: 16px;
}

/* Course */
.course-container {
    margin-bottom: 16px;
}
.course-item {
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-3);

    position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 10px var(--shadow1);
    max-width: 270px;
    margin-right: 24px;
}

.course-img-container {
    width: fit-content;
    background-color: var(--img-bg);
    color: var(--text-reverse);
    margin: 0 auto;
    border-radius: var(--radius-6) var(--radius-6) var(--radius-4)
        var(--radius-4);
}
.course-img-container img {
    width: 100%;
    border-radius: var(--radius-2) var(--radius-2) 0 0;
    max-height: 220px;
    aspect-ratio: 16/8;
    object-fit: cover;
}
.course-content-wrapper {
    padding: 4px 8px;
}
.course-info {
    padding: 4px 4px 12px;
    text-align: center;
}
.course-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.course-sub-name {
    font-size: 14px;
    font-weight: 400;
}
.course-subtitle {
    font-size: 12px;
    margin: 4px auto;
}
.course-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.course-number {
    font-size: 12px;
}
.price {
    font-size: 18px;
    font-weight: 600;
}
.price del {
    color: var(--light-color);
}
.saving-tag {
    font-size: 12px;
    font-weight: 500;
    color: var(--warning-color);
}
.btn-course {
    background-color: var(--primary-color);
    color: var(--text-reverse);
    border-radius: 30px;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: -12px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-course:hover {
    background-color: var(--secondary-color);
}
.blog-item {
    text-align: start;
}
.blog-item .course-img-container {
    background-color: transparent;
}
.blog-item .course-subtitle {
    margin-bottom: 40px;
}

/* Star ratings */
.stars {
    display: inline-block;
    font-size: 1rem;
    color: #ccc;
}

.stars .filled {
    color: gold;
}

/* Testimonial */
.testimonial-section {
    display: flex;
    gap: 40px;
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.testimonial-marquee {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.testimonial-column {
    display: flex;
    flex-direction: column;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee-up .testimonial-column {
    animation-name: scroll-up;
}

.marquee-down .testimonial-column {
    animation-name: scroll-down;
}

/* Pause scrolling on hover */
.testimonial-marquee:hover .testimonial-column {
    animation-play-state: paused;
}

.testimonial {
    padding: 15px;
    margin: 1px 1px 20px;
    text-align: center;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    box-shadow: 0 4px 10px var(--shadow1);
    border-radius: var(--radius-3);
}
.testimonial-content {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--primary-color);
}
.testimonial-author img {
    max-width: 50px;
    border-radius: 50%;
}
.testimonial-author-info {
    text-align: left;
}
.testimonial-name {
    margin-bottom: 4px;
}
.testimonial-batch {
    font-size: 12px;
}
.testimonial-program {
    border-top: 1px solid var(--primary-color);
    padding-top: 12px;
}

/* Animations */
@keyframes scroll-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* Contact Form */
.contact-form {
    border-radius: 10px;
    box-shadow: 0 0 15px var(--shadow1);
    background-color: var(--primary-color);
    overflow: hidden;
}
.contact-info {
    padding: 50px;
    color: var(--text-reverse);
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 20px;
    justify-content: center;
    flex-basis: 50%;
}
.contact-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
}
.contact-description {
    font-size: 16px;
}
.contact-details {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5;
    display: flex;
    align-items: center;
    gap: 8px;
}
.contact-input-form {
    flex-basis: 50%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    margin: 50px auto;
    max-width: 30%;
    background-color: var(--base-1);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--shadow1);
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: 500;
}

.contact-form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
    height: 36px;
}

.contact-form input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.contact-form button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    margin-top: 18px;
}

/* Partner */
.partner-slider-wrapper button.controls.prev {
    left: 2px;
}
.partner-slider-wrapper button.controls.next {
    right: 0px;
}
.partner-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0px;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    margin: 8px 4px;
}
.partner-item-wrapper {
    flex: 0 0 auto;
    margin-right: 20px;
    padding: 20px 50px;
    border-radius: var(--radius-4);
    text-align: center;
    box-shadow: 0px 0px 10px 0px var(--shadow1);
}
.partner-img {
    line-height: 0;
    margin-bottom: 12px;
}
.partner-img img {
    width: 60px;
    border-radius: var(--radius-6);
    object-fit: cover;
}
.partner-name {
    font-size: 18px;
}

/* Learn to Win */
.learn-to-win {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-reverse);
    padding: 70px 20px;
    border-radius: var(--radius-4);
}
.learn-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.learn-description {
    margin-bottom: 50px;
    font-size: 18px;
}
.btn-win,
a.btn-win {
    flex-basis: 50%;
    background-color: var(--img-bg);
    padding: 10px;
    border-radius: var(--radius-2);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-win-2 {
    background-color: var(--light-color);
    color: var(--text-color);
}
.btn-win:hover {
    background-color: var(--base-1);
    color: var(--text-color);
}

/* Download */
.download {
    background-color: var(--primary-color);
    color: var(--text-reverse);
    border-radius: var(--radius-4);
    overflow: hidden;
    padding: 30px 0;
}
.download-content {
    max-width: 900px;
    padding: 50px;
    padding-right: 0;
}
.download-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1;
}
.download-description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn-store {
    max-width: 130px;
    padding: 0;
    border-color: transparent;
}
.btn-store.windows {
    margin-left: -4px;
}
.btn-store:hover {
    background-color: transparent;
    border: 0;
}
.download-img {
    line-height: 0;
}
.download-img img {
    width: 386px;
    max-width: 500px;
    height: 300px;
    object-fit: contain;
}

/* Accordion */
.accordion-wrapper {
    align-items: start;
}
.accordion {
    max-width: 600px;
    margin: 0 auto;
    flex-basis: 48%;
}

.accordion-item {
    background-color: var(--primary-color);
    margin-bottom: 20px;
    color: var(--text-reverse);
    border-radius: var(--radius-3);
    box-shadow: 0 4px 10px var(--shadow1);
    overflow: hidden;
}

.accordion-header {
    padding: 16px;
    text-align: left;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid var(--base-1);
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
}

.accordion-header:hover {
    background-color: var(--secondary-color);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: all 0.3s ease;
}

.accordion-item .angle {
    transition: all var(--transition-1);
}
.accordion-item.active .angle {
    transform: rotate(180deg);
}
.accordion-item.active .accordion-content {
    max-height: 500px; /* Adjust based on content height */
    padding: 16px;
}

/* Footer */
.footer-wrapper {
    background-color: var(--base-2);
    color: var(--text-color);
    padding: 70px 20px;
    text-align: center;
}
.footer-wrapper .flex-container,
.footer-bottom .flex-container {
    justify-content: space-between;
    align-items: start;
}
.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    gap: 20px;
}
.footer-widget {
    margin: 0 auto;
}
.first-widget {
    max-width: 300px;
}
.second-widget {
    max-width: 400px;
    margin-left: 40px;
}
.footer-wrapper a {
    color: var(--text-color);
    text-decoration: none;
}
.footer-wrapper a:focus,
.footer-wrapper a:hover,
.footer-bottom a:focus,
.footer-bottom a:hover {
    color: var(--img-bg);
}
.footer-logo {
    line-height: 0;
    margin-bottom: 12px;
}
.footer-logo img {
    max-width: 120px;
}
.footer-description {
    margin-bottom: 20px;
}
.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.footer-socials a {
    line-height: 0;
    background-color: var(--tertiary-color);
    padding: 8px;
    border-radius: var(--radius-2);
    color: var(--text-reverse);
}
.footer-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.communication-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 22%;
}
.footer-bottom {
    padding: 30px 0;
    background-color: var(--tertiary-color);
    color: var(--text-reverse);
}
.copyright a {
    color: var(--secondary-color);
    text-decoration: none;
}
.copyright a {
    color: var(--secondary-color);
}

.btn.login.responsive {
    display: none;
}
.mobile {
    display: none;
}
.language-select-wrapper.mobile {
    width: 100%;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    padding-left: 10px;
    margin-top: 12px;
}
.mobile .language-select .options {
    top: calc(100% - 5px);
}

/* Live Chat */
.live-chat-wrapper {
    max-width: 300px;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: var(--radius-3) var(--radius-3) 0 0;
    box-shadow: 0px 0px 4px 0px var(--shadow2);
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: var(--base-1);
    z-index: 999999;
    display: none;
}
.live-chat-wrapper.active {
    display: block;
}
.live-chat-header {
    width: 100%;
    border-radius: var(--radius-3) var(--radius-3) 0 0;
    padding: 8px;
    background-color: var(--base-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live-chat-header img {
    max-width: 70px;
}
.live-chat-body {
    height: 320px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: auto;
    scrollbar-width: none;
}
.live-chat-body::-webkit-scrollbar {
    display: none;
}
.live-chat-item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}
.live-chat-item.chat-user {
    flex-direction: row-reverse;
    justify-content: end;
    text-align: end;
}
.live-chat-item img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.live-chat-message {
    white-space: break-space;
    max-width: 70%;
}
.live-chat-footer {
    padding: 8px;
    border-top: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.live-chat-footer input,
.live-chat-footer input:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--shadow1);
    width: 100%;
    padding: 0;
}

.listing-container {
    gap: 20px;
    justify-content: center;
}
.listing-container .course-item {
    margin-right: 0;
    margin-bottom: 12px;
}
